@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --color-primario: #3F2305;
    --color-secundario: #D5CEA3;
    --color-terciario: #1A120B;
    --color-hover: #272727;

    --fuente-montserrat: 'Montserrat', sans serif;
    --fuente-krona: 'krona one', sans serif;
}
* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header{
padding: 2% 0% 0% 15%;


}

.header__menu{
display: flex;
gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;/*elimina el subrayado*/
}

.presentacion {
    /*margin: 10% 15%; aqui menoramos la distancia entre main y header*/
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces{
    /*coloca los cuadros uno a lado de otro*/
    display: flex;
    justify-content: space-between;
    /*hace en forma vertical*/
    flex-direction: column;
    align-items: center;
    /*agrega espacios =es / cada cuadro*/ 
    gap: 32px;
}

.presentacion__enlaces_subtitulos{
    font-family: var(--fuente-krona);
    font-size: 24px;
    font-weight: 400;
}

.presentacion__enlaces__link{
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
    /*solid puedes cambiar a doteer u otros*/
    border: 2px solid var(--color-terciario);
    /*alineamos la letra e icono del boton a la izquierda*/
    display: flex;
    /*esto lo centra, ojo por que es horizontal*/
    justify-content: center;
    /*espacio entre icono y texto*/
    gap: 16px;
   
}

.presentacion__enlaces__link:hover{
    /*hover es para dalr color al boton cuando pasa el mouse*/
    cursor: pointer;
    background-color: var(--color-hover);
    transition: 10ms;
    padding: 2%;
    border-color: #0000FF;
    
}

.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 400;
}